:root{
    --text-color: #17db3e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
}

header{
    background-color: white;
    padding: 1.25rem 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
}

.menu-logo-green{
    color: var(--text-color);
}

nav{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

nav a{
    text-decoration: none;
    color: black;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: ease 0.5s;
}

nav a:hover{
    transform: scale(1.15);
}

.icon-home{
    background-color: silver;
}

.icon-logout{
background-color: red;
color: white;
}

.hamburger-menu{
    background-color: white;
    width: 30px;
    height: 25px;
    cursor: pointer;
    user-select: none;
    display: none;
    gap: 5px;
    flex-direction: column;
}

.hamburger-menu span{
    display: block;
    background-color: black;
    height: 4px;
    width: 30px;
    border-radius: 3px;
}

.menu-toggle{
    display: none;
}

.menu-toggle:checked~nav{
    display: flex;
}













