/* ---- alap beállítások ---- */
:root {
    --text-color: #17BD3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
}

/* ---- a fejléc a menüvel ---- */
header {
    background-color: white;
    padding: 1.25rem 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logó bal oldalt */
.menu-logo {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
}

.menu-logo-green {
    color: var(--text-color);
}

/* menü ikonok jobb oldalt alapállapotban */
nav {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: ease 0.5s;
}

nav a:hover {
    transform: scale(1.1);
}

.icon-home {
    background-color: silver;
} 

.icon-logout {
    background-color: red;
    color: white;
}

/* hambuger menü */
.hamburger-menu {
    background-color: white;
    width: 30px;
    height: 25px;
    cursor: pointer;
    user-select: none;
    display: none;
    gap: 5px;
    flex-direction: column;
}

.hamburger-menu span {
    display: block;
    background-color: black;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked~nav {
    display: flex;
}

/* --- hamburger menü 768px-től --- */
@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: white;
        padding: 10px;
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 1.5rem;
        display: none;
    }
}

/* --- hozzáadás plus gomb ---  */
.fixed {
    position: fixed;
    right: 30px;
    top: 70%;
    background-color: var(--text-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: ease 0.5s;
}

.fixed:hover {
    transform: scale(1.1);
}

.fixed i {
    color: white;
    font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
    .fixed {
        width: 40px;
        height: 40px;
    }

    .fixed i {
        font-size: 2rem;
    }
}